.time-for-crab-crab {
    position: fixed;
    z-index: 100;
    font-size: 28px;
    transition: left 1s, top 1s;
    cursor: pointer;
}

.time-for-crab-crab .mood {
    border: 1px solid grey;
    background-color: white;
    font-size: 10pt;
    padding: 2px 5px;

    bottom: 60%;
    left: -60%;
    visibility: hidden;
    z-index: 101;
    position: relative;
}

.time-for-crab-crab:hover .mood {
    visibility: visible;
}

.time-for-crab-crab:hover .mood:empty {
    visibility: hidden;
}

.time-for-crab-ui {
    position: fixed;
    left: 60px;
    top: 100px;
}

.time-for-crab-button {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 99;

    font-family: Fairwater,Georgia,Times,Times New Roman,serif;
    font-size: 24px;
    font-style: italic;

    border: 5px solid black;
    background-color: white;
    padding: 0.4em 0.4em 0 0.4em;
}

.time-for-crab-tracker {
    position: relative;
    left: 10px;
    top: -10px;
    z-index: 98;

    font-family: Fairwater,Georgia,Times,Times New Roman,serif;
    font-size: 20px;
    font-style: italic;

    border: 2px solid black;
    border-radius: 0 0 10px 10px;
    background-color: white;
    padding: 0.8em 0.8em 0.4em 0.8em;

    max-width: 75%;
}

.time-for-crab-tracker:empty {
    visibility: hidden;
}

.time-for-crab-tracker td ~ td {
    padding-left: 20px;
}